.group-info {
    padding: 0.5rem 0;
}
.wrap-name {
    display: flex;
    align-items: center;
}

.name-project {
    font-size: 1.15rem;
    font-weight: 600;
    color: black;
    margin-bottom: .5rem;
    padding: 0;
}
.Link-web {
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.Link-web svg {
    margin-right: 0.5rem;
    font-size: 1rem;
}

.group-info h4 {
    font-weight: bold;
    font-size: 0.9rem;
    margin: 0;
}

.group-info p {
    font-size: 0.8rem;
    font-weight: 500;
    color: gray;
    margin: 0;
}
.group-info h4 span{
    margin: 0.5rem;
}

.group-info p {
    margin: 0;
    padding: 0;
}

.group-info ul {
    list-style: none;
    padding: 0.5rem;
    margin: 0;
}





/* group-icon */
.group-icon {
    padding: 0.5rem 0;
}

.title {
    font-size: 1.1rem;
    font-weight: 600;
    color: black;
    margin-bottom: .5rem;
    padding: 0;
    text-decoration: underline;
}
.group-icon ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.group-icon li{
    margin: 0 0.5rem;
}

.group-icon img{
   width: 3rem;
   height: 3rem;
   border-radius: 0.5rem;
   object-fit:contain;

   /* border: 1px solid black; */
}