.main {
    background-color: black;
}
.customModal{
    background-color: white;
    border-radius: 2.5rem;
    padding: 1rem;
    color: black;
    /* width: 65% !important; */
} 
.info-left {
    flex:1;
    border-right:1px dashed black;
}
.name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.job {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.img {
    width: 100%;
    height: 100%;
    margin: 0.5rem 0;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrap-info {
    margin: 0.5rem 0;
}
.info-left img {
    width: 100%;
    height: 100%;
    /* height: 11rem;
    width: 9rem; */
    max-height: 11rem;
    max-width: 9rem;
    border-radius: 2rem;
    border: 1px solid black;
    object-fit: cover;

}
.wrap-img {
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin: 0 0.5rem;
    border-bottom: 1px dashed black;
} 
.wrap-info-basic ul {
    list-style: none;
    padding: 1rem;
    margin: 0;

}
.wrap-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.wrap-icon {
    width: 100%;
    padding: 0!important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    /* border-bottom: 1px solid black; */
    list-style: none;
}
img {
    width: 2.5rem;
    height: 2.5rem;
}
.wrap-basic-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid black;
}
.wrap-info-basic {
    /* padding-top: 1rem; */
}
.wrap-info-project {
    padding: 1rem;
    border-top: 1px solid black;
}