.content {
  background-color: black;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}




@media (max-width: 1200px) {
  html {
      font-size: 100%;
  }
}


@media (max-width: 992px) {
  html {
      font-size: 90%;
  }
}

@media (max-width: 768px) {
  html {
      font-size: 80%;
  }
}

@media (max-width: 576px) {
    html {
        font-size: 70%;
    }
}

